<div id="header" class="header">

    <a class="logo" [routerLink]="[ '/']">
        <img width="60" alt="Ticket log"
            src="assets\svg\ticketlogo.png"/>
    </a>

    <nav>
        <ul class="header__links hidden-menu" [ngClass]="{ checked: isChecked }">

        </ul>
    </nav>
    <input [(ngModel)]="isChecked" type="checkbox" class="navbar-btn" [ngClass]="{ userClicked: isClicked }"
        id="navbar-btn" (keyup.space)="clicked(line)" />
    <label for="navbar-btn" class="navbar-icon" (click)="clicked(line)">
        <span #line class="navbar-icon__line" [ngClass]="{ classX: addClassX }"></span>
    </label>
</div>
